@page "/competences"
@using Microsoft.AspNetCore.Components.Sections
@using Portfolio2025.Components
@using Portfolio2025.Model

<h1>Mes Compétences</h1>

@* @foreach(CompetenceCategory category in CompetencesSource.Select(c => c.Category).Distinct())
{
	<h2>@category.GetName()</h2>

	<MudStack Style="margin-bottom: 2em" Row="true" Wrap="Wrap.Wrap" AlignItems="AlignItems.Baseline" Justify="Justify.FlexStart">
		@foreach(Competence competence in CompetencesSource.Where(c => c.Category == category))
		{
			<CompetenceContainer Source="competence" />
		}
		<MudSpacer />
	</MudStack>
} *@

@foreach ((CompetenceCategory category, int index) item in CompetencesSource.Select(c => c.Category).Distinct().Select((c, i) => (c, i)))
{
	if( item.index > 0)
	{
		<MudDivider Style="margin: 2em 10%" DividerType="DividerType.Middle" />
	}

	<h2 style="margin-top: 1.5em">@item.category.GetName()</h2>

	<MudGrid Justify="Justify.FlexStart">
		@foreach (Competence competence in CompetencesSource.Where(c => c.Category == item.category))
		{
			<MudItem id="@competence.GetId()" xs="12" sm="12" md="6" lg="4" xl="3" xxl="2">
				<CompetenceContainer Source="competence" />
			</MudItem>
		}
	</MudGrid>
}

@code {

	public IEnumerable<Competence> CompetencesSource => Model.Competences.All;
}
