@page "/contact"

<h1>Me contacter</h1>

<p>
	Vous pouvez me contacter :
</p>

<ul>
	<li>
		Sur mon e-mail personnel : <i>paul.pj.maget@gmail.com</i>
	</li>
	<li>
		Sur mon e-mail universitaire : <i>paul.maget@etu.univ-grenoble-alpes.fr</i>
	</li>
	<li>
		Par téléphone : <i>+33 7 69 61 27 00</i>
	</li>
</ul>

<p>
	Je suis également sur
	<MudLink Href="https://github.com/PaulMaget">GitHub</MudLink>
	et
	<MudLink Href="https://www.linkedin.com/in/paul-maget-4495832b0/">LinkedIn</MudLink>.
</p>

<style>
	p {
		margin: 1em;
	}
	ul {
		margin: 1em;
		padding-left: 3em;
	}
	li {
		margin: 0.5em 0;
	}
</style>

@code {

}
