@page "/experiences/{id:int}"
@using Microsoft.AspNetCore.Components.Sections
@using Portfolio2025.Components
@using Portfolio2025.Model

@if (Source == null)
{
    <MudAlert Severity="Severity.Error" Class="mt-4">La page demandée n'existe pas.</MudAlert>
    return;
}

<h1>@(Source?.Name)</h1>
<h2>@(Source?.Organization) - @(Source?.Year)</h2>

@if (Source?.Competences.Any() ?? false)
{
    <MudStack Row=true AlignItems="AlignItems.Center" Justify="Justify.SpaceEvenly">
        @foreach (Competence item in Source?.Competences ?? [])
        {
            <CompetenceCircle Source="item" />
        }
    </MudStack>
}

@((MarkupString)(Source?.HtmlDescription ?? ""))

<style>
    p {
        margin: 1em;
    }

    img {
        max-width: 100%;
        display: block;
        margin: auto;
    }
</style>

@code {
    [Parameter]
    public required int Id { get; set; }

    public Experience? Source => Experiences.All.ElementAtOrDefault(Id);
}
