@using Portfolio2025.Model

<div style="width: 15em; margin: 1em">
	<MudIcon  Icon="@Source.Logo" Style="display: block; margin: auto;" />
	<h3 style="margin: auto; text-align: center">@Source.Name</h3>
	<p style="margin: auto; text-align: center">@((MarkupString)Source.Description)</p>
</div>

@code {
	[Parameter]
	public required Competence Source { get; set; }
}
